.patient-table {
    padding: 20px 20px
}

.container {
    padding: 40px 40px;
    background: white;
    margin: 80px 20px 20px 20px;
}

table {
    border: 1px solid transparent;
    border-radius:6px;
    -moz-border-radius:6px;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;

}
table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}
table tr {
    border: 1px solid #ddd;
    padding: .35em;
}
table tr:nth-child(even) {
    background: #f8f8f8;
}
table th,
table td {
    padding: .625em;
    text-align: left;
}
table th {
    background: #1188B0;
    color: #fff;
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;

}
table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table th:first-child {
    border-radius: 5px 0 0 0;
}

table th:last-child {
    border-radius: 5px 0 0 0;
}

table a {
    color: black !important
}

table a:hover {
    color: #009688 !important;
    text-decoration: underline;
    opacity: 0.7
}

.row100.body:hover{
    background: #00BDDF;
    color: white !important;
}

.row.link a:hover {
    color: white !important;
    opacity: 0.8
}

/* Patients Page */
.session-date {
    font-weight: bold;
    float: left;
    margin-right: 80px
}

.start-date {
    display: inline-block;
    float: left
}

.edit-icon {
    font-size: 14px;
    color: black
}