.line {
    fill: none;
    stroke-width: 4px;
}

.heart-rate {
    stroke: #EF9192
}

.spo2 {
    stroke: #F9CF6C
}

path {
    stroke-width: 3px !important;
    stroke: white
}

.tick line {
    stroke: white;
}

text {
    fill: white;
    font-size: 10px
}

/* Small devices (tablets, 768px and up)  */
@media all and ( min-width: 768px ) and (max-width: 1024px) {
    .chart-line {
        width: 550px !important
    }

}